
@{ ViewBag.Title = "Admin"; }

<h2>Панель администратора</h2>

<p>
    @Html.ActionLink("Добавить оборудование", "Index", "equipments")
</p>
<p>
    @Html.ActionLink("Добавить налоговый орган", "Index", "taxAuthorities")
</p>
<p>
    @Html.ActionLink("Выдать роль администратора", "Index", "users_role")
</p>


